*{
    
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

script, head{
    display: none;
}

.bg-lightSky{
    background-color:rgb(93, 192, 253);
}



.bg-celesteH{
    background-color:#1e90ff;
}

.bg-celesteM{
    background-color:#69b3fc;
}

.bg-celesteL{
    background-color:#8ec7ff;
}

.bg-amarillo{
    background-color:#ffc200;
}

.bg-magenta{
    background-color:#f3115b;
}

.mg-05rem{
    margin:0.5rem;
}

.mg-2rem{
    margin:2rem;
}

.pd-2rem{
    padding:0rem 2rem;
}

.fz-15{
    font-size: 1.5rem;
}

.fz-22{
    font-size: 2.2rem;
}

/* CABECERA */

.cabecera, .sobre-mi{
    width: 90vw;
    margin: 0.3rem 0;
    padding: 2rem 0;
   
}
.cabecera h1{
    font-size: 4rem;
    margin:1rem;
}
.cabecera a{
    text-decoration: none;
    font-size: 1.5rem;
    margin:0.5rem;
}

/* sobre mi */


.sobre-mi {
    padding:1rem 0;
    line-height: 2;
}



/* datos personales*/

.contenedor-centro{

    width: 90vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.datos-personales{
    width:60% ;
    padding:2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.datos-personales ul{
    margin:0;
    padding:0;
}
.datos-personales img{
    width: 90%;
}

.estudio{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    
}


/*footer*/

.expectativas{
    width: 90vw;
    line-height: 2;

}

.expectativas span{
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: bold;
    text-decoration: underline;
}